  <% layout('layouts/boilerplate') %>
<link rel="stylesheet" href="/faq.css">

<h1 class="title">Frequently Asked Questions</h1>

<div class="card card-body mb-3">
    <h5>Q: How to get started?</h5>
    <p style="font-weight:300;"><strong> A: To plan your travel from scratch, the first thing is to check out your
            destinations. Why don't you
            type the name of destination at the home page's search bar? You will see some decent photos of the
            destination. </strong> </p>
</div>
<div class="card card-body mb-3">
    <h5>Q: What is Flight Search?</h5>
    <p style="font-weight:300;"><strong> A: This is your next step. If you like your destination, click flight
            search to start
            booking the flight to the destination. If not, go back to home page by using the navigate bar and search
            for another destination. </strong>
    </p>
</div>
<div class="card card-body mb-3">
    <h5>Q: How to Flight Search?</h5>
    <p style="font-weight:300;"><strong> A: You need to enter the departure and destination airport, following the
            format given in textfield. After that, pick a date later than today and click the search button. There
            will be several booking options rendered on the screen and you will book the one that fits your need.
            You will be prompted to register an account in order to book the flight.
            <b>Remember to copy the full name of departure airport from the booking option and paste it to
                the Departure Airport textfield.</b>
            When the register is done,
            you can continue to book new flights or check your booked flights under myFlight which is included in
            myAccount dropdown menu
        </strong>
    </p>
</div>
<div class="card card-body mb-3">
    <h5>Q: What is in myFlight?</h5>
    <p style="font-weight:300;"><strong> A: Whether you book all the flights within the trip in order or you book
            your flights in random order, the
            DFS algorithm will show your flight schedule from start to finish. The starting point will be departure
            airport you registered your account with. Just click the airplane icon between two airports to view the
            flight you booked. You can also set a reminder for the flight by clicking the edit button. Besides the
            flight schedule, you will be able to simulate your flight on the map by clicking simulate my flight.
        </strong>
    </p>
</div>