<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
    integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
<link rel="stylesheet" href="/CSS/home.css">
<div class="container">
    <nav class="main-navbar">
        <span class="logo"><i class="fas fa-globe"></i><span class="logo-text">Travel Expert</span></span>
        <a href="/about" class="about">About</a>
        <a href="/FAQ" class="FAQ">FAQ</a>
        <a href="#myModal" class="qs" data-toggle="modal">Quick Start</a>
    </nav>

    <div class="main">



        <div class="main-header">
            <p class="above-header-text"><em>Plan your travel</em></p>
            <h1 class="beauty-text">
                Travel Expert
            </h1>

            <div class="begin-text">
                <form action="/picture" method="POST" id="FORM" class="validated-form" novalidate>
                    <div class="d-flex justify-content-center h-30">
                        <div class="searchbar">
                            <input class="search_input" type="text" placeholder="Where to go?" name="cityName" required>
                            <button class="search_icon"><i class="fas fa-search" ty></i></button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <div id="myModal" class="modal fade">
            <div class="modal-dialog modal-dialog-centered modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Quick Start</h5>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        <div class="embed-responsive embed-responsive-16by9">
                            <iframe id="cartoonVideo" class="embed-responsive-item" width="860" height="915"
                                src="https://www.youtube.com/embed/Z6KeTmFJhBs" allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script>
            $(document).ready(function () {
                /* Get iframe src attribute value i.e. YouTube video url
                and store it in a variable */
                var url = $("#cartoonVideo").attr('src');

                /* Assign empty url value to the iframe src attribute when
                modal hide, which stop the video playing */
                $("#myModal").on('hide.bs.modal', function () {
                    $("#cartoonVideo").attr('src', '');
                });

                /* Assign the initially stored url back to the iframe src
                attribute when modal is displayed again */
                $("#myModal").on('show.bs.modal', function () {
                    $("#cartoonVideo").attr('src', url);
                });
            });
        </script>


    </div>

    <footer class="main-footer">
        <a href="https://github.com/sportyjames/travelExpert">
            <i class="fab fa-github"></i>
        </a>

        <a href="mailto:jwucavaliers@gmail.com, Leoyang158@gmail.com">
            <i class="fas fa-envelope-square"></i>
        </a>

        <div id="google_translate_element" style="margin-top: 4px; margin-left: 10px"></div>

        <script type="text/javascript">
            function googleTranslateElementInit() {
                new google.translate.TranslateElement({ pageLanguage: 'en', layout: google.translate.TranslateElement.InlineLayout.SIMPLE }, 'google_translate_element');
            }
        </script>
        <script type="text/javascript"
            src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
    </footer>
</div>

<script src="https://kit.fontawesome.com/73b7f72ef4.js" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
    integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
    integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
    crossorigin="anonymous"></script>
<script src='/validateForms.js'></script>