<% layout('layouts/boilerplate') %>
<link rel="stylesheet" href="/CSS/intro.css">
<div class="text-center">
    <div class="container mt-2">
        <div class="row justify-content-center">
            <h1 class="font-weight-bold page-header main-blue" id="title">Team Members</h1>
        </div>
    </div>
</div>
<div class="row justify-content-around">
    <div class="col-8 col-md-5 col-lg-3">
        <div class="flip-card">
            <div class="flip-card-inner">
              <div class="flip-card-front">
                <img src="https://i.pinimg.com/474x/bc/d4/ac/bcd4ac32cc7d3f98b5e54bde37d6b09e.jpg" alt="James" style="width:300px;height:250px;">
              </div>
              <div class="flip-card-back">
                <h1>James Wu</h1>
                <br>
                <p>Full Stack Developer</p>
                <p>Computer Science Major @  TAMU</p>
                <br>
                <a href="https://www.linkedin.com/in/jiayu-wu/" id="PersonalIcon"><i class="fa fa-linkedin"></i></a>
                <a href="https://github.com/sportyjames" id="PersonalIcon"><i class="fab fa-github"></i></a>
              </div>
            </div>
        </div>
    </div>
    <div class="col-8 col-md-5 col-lg-3">
        <div class="flip-card">
            <div class="flip-card-inner">
              <div class="flip-card-front">
                <img src="https://i.pinimg.com/474x/bc/d4/ac/bcd4ac32cc7d3f98b5e54bde37d6b09e.jpg" alt="Leo" style="width:300px;height:250px;">
              </div>
              <div class="flip-card-back">
                <h1>Leo Yang</h1>
                <br>
                <p>Full Stack Developer</p>
                <p>Computer Science Major @ TAMU</p>
                <br>
                <a href="https://www.linkedin.com/in/linjian-yang-33907019a/" id="PersonalIcon"><i class="fa fa-linkedin"></i></a>
                <a href="https://github.com/Leoyang158" id="PersonalIcon"><i class="fab fa-github"></i></a>
              </div>
            </div>
        </div>
    </div>
</div>

