.page-header {
    font-size: 6rem;
    z-index: 0;
  }
  .main-blue {
    color: #002a68;
  }
  .font-weight-bold {
    font-weight: 700 !important;
  }
  
  .about-us-subheader {
    background-color: rgba(211, 211, 211, 0.4);
    border-radius: 50px;
    height: 6rem !important;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.5rem;
    font-weight: 900;
    font-weight: bold;
  }
  
  .mission-icon {
    font-size: 12rem;
  }
  
  .statement {
    font-size: 20px;
  }
  
  /* Style the buttons that are used to open and close the accordion panel */
  .accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
  }
  
  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  .active,
  .accordion:hover {
    background-color: #ccc;
  }
  
  /* Style the accordion panel. Note: hidden by default */
  .panel {
    padding: 0 18px;
    background-color: white;
    display: none;
    overflow: hidden;
  }
