body {
    font-family: 'Karantina',
        cursive;
    font-family: 'Lato',
        sans-serif;
    background-image: linear-gradient(#87bdd8, #f4a688);
}

.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main-navbar {
    font-size: 2rem;
    font-weight: 600;
    box-shadow: 5px black;
    display: flex;
    flex-direction: row;
    color: white;
    margin: 2rem;
    /* justify-content: space-between; */
}

.logo-text {
    margin-left: 0.5rem;
}

.main-navbar ul {
    list-style: none;
    margin: 0;
    display: flex;
}

ul li a {
    margin: 0 2rem;
    color: white;
    text-decoration: none;
}

.main {
    display: flex;
    justify-content: center;
    margin: 2rem;
    flex-grow: 1;
}

.above-header-text {
    color: white;
    text-align: center;
    font-size: 2.6rem;
    margin-bottom: 0;
    font-family: 'IBM Plex Serif',
        serif;
    ;
}

.beauty-text {
    font-size: 6rem;
    color: white;
    margin: 0;
    text-shadow: 0px 7px 5px rgba(0, 0, 0, 0.2);
    max-width: 100%;
    margin-bottom: 50px;
    margin-top: 50px;
}

.sub-header {
    color: white;
    display: flex;
    justify-content: center;
    font-size: 1.3rem;
    margin-top: -1rem;
}

.begin-text {
    margin-top: 2rem;
    text-align: center;
}

.begin-text button {
    border: 1px solid white;
    border-radius: 40px;
    padding: 1rem 2rem;
    background-color: transparent;
    color: white;
    font-weight: bold;
    font-size: 1.2rem;
    text-decoration: none;
}

.begin-text button:focus {
    outline: none;
}

.begin-text button:hover {
    cursor: pointer;
}

.main-footer {
    display: flex;
    justify-content: center;
    color: white;
    font-size: 2rem;
    margin: 2rem;
}

.main-footer i {
    padding-right: 2rem;
    padding-left: 2rem;
}

label {
    display: block;
    font: 1rem 'Fira Sans', sans-serif;
}

input,
label {
    margin: .4rem 0;
}

.searchbar {
    margin-bottom: auto;
    margin-top: auto;
    height: 60px;
    background-color: #c7c0e4;
    border-radius: 30px;
    padding: 10px;
}

.search_input {
    color: white;
    border: 0;
    outline: 0;
    background: none;
    width: 0;
    caret-color: transparent;
    line-height: 40px;
    transition: width 0.4s linear;
    font-size: 25px;
    margin: auto;
    font-family: 'Karantina',
        cursive;
}

.searchbar:hover>.search_input {
    padding: 0 10px;
    width: 350px;
    caret-color: red;
    transition: width 0.4s linear;
}

.searchbar:hover>.search_icon {
    background: white;
    color: #e74c3c;
}

.search_icon {
    height: 40px;
    width: 40px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: white;
    text-decoration: none;
}


.about {
    position: absolute;
    top: 30;
    right: 30;
    margin-bottom: 2px;
    padding: 7px;
    font-size: 1.5rem;
    width: 150px;
    height: 50px;
    display: block;
    float: right;
    /* background-color: rgb(94, 122, 94); */
    color: white;
    text-align: center;
}

.FAQ {
    position: absolute;
    top: 30;
    right: 150;
    margin-bottom: 2px;
    padding: 7px;
    font-size: 1.5rem;
    width: 150px;
    height: 50px;
    display: block;
    float: right;
    /* background-color: rgb(94, 122, 94); */
    color: white;
    text-align: center;
}