#navbar {
    font-family: 'Karantina',
        cursive;
    font-family: 'Lato',
        sans-serif;
    background-image: rgb(98, 241, 241);
    background-repeat: no-repeat;
    background-size: auto;
    margin-bottom: 5%;
}

