<% layout('layouts/boilerplate') %>
<link rel="stylesheet" href="/CSS/index.css">
<h1>My Flight Routes</h1>
<div class="route">
<% while (order_itineraries.length > 0 || flightroutes.length > 0) {%>

    <p class="place">
        <% if(order_itineraries.length > 0) {%>
            <% console.log(order_itineraries) %>
            <% var airport = order_itineraries.shift(); %>
            <%= airport %>
        <%}%>
    </p>
    <p class="flight">
        <% if(flightroutes.length > 0) {%>
            <%  const flightroute=flightroutes.shift(); %>
            <a href="/flightroutes/<%= flightroute._id %>">
                <i class="fas fa-plane fa-3x"></i>
                <span class="FlightDate"> <%= flightroute.date %> </span>
            </a>  
        <%}%>   
    </p>
<%}%>
</div>
<div class="mx-auto" id='map' style='width: 1000px; height: 550px;'></div>
<div class="overlay">
    <div class="d-flex justify-content-center">
        <button id="FlightButton"> Simulate My Flight </button>
    </div>
</div>


<script>
    const flightroutesCopy = <%- JSON.stringify(flightroutesCopy) %>;
</script>

<script src="https://unpkg.com/@turf/turf@6/turf.min.js"></script>
<script src="/showPageMap.js"></script>
    