<% layout('layouts/boilerplate') %>

    <h1>My Flight Routes</h1>

    <ul>
        <% for (let flightroute of flightroutes){%>
            <li><a href="/flightroutes/<%= flightroute._id %>">
                    <%= flightroute.date %>
                </a></li>
            <% }%>
    </ul>


    <% while (order_itineraries.length > 0 || flightroutes.length > 0) {%>
        <% if(order_itineraries.length > 0) {%>
            <% const airport=order_itineraries.shift(); %>
            <%= airport %>
        <%}%>

        <% if(flightroutes.length > 0) {%>
            <%  const flightroute=flightroutes.shift(); %>
            <a href="/flightroutes/<%= flightroute._id %>">
                <i class="fas fa-plane"></i>
            </a>  
        <%}%>   
    <% }%>