<% layout('layouts/boilerplate') %>

    <style>
        h1 {
            margin-bottom: 30px;
        }

        .overlay button {
            font: 600 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
            background-color: #3386c0;
            color: #fff;
            display: inline-block;
            margin: 0;
            padding: 10px 20px;
            border: none;
            cursor: pointer;
            border-radius: 3px;
        }

        .overlay button:hover {
            background-color: #4ea0da;
        }

        .Airport {
            font-size: 50px;
            font-weight: bold;
            text-transform: uppercase;
        }

        .FlightDate {
            display: none;
        }

        .flight:hover .FlightDate {
            /* background-color: #4ea0da; */
            display: inline;
        }

        .flight {
            margin-left: 5px;
            margin-right: 35px;
            margin-top: 20px;
        }

        .route {
            display: flex;
            /* justify-content: space-between; */
        }

        .place {
            font-size: 30px;
            margin-left: 0px;
            margin-right: 15px;
        }

        #FlightButton {
            margin-top: 20px;

        }

        .overlay button:hover {
            background-color: #4ea0da;
        }
    </style>

    <h1>My Flight Routes</h1>
    <div class="route">
        <% while (order_itineraries.length> 0 || flightroutes.length > 0) {%>

            <p class="place">
                <% if(order_itineraries.length> 0) {%>
                    <% console.log(order_itineraries) %>
                        <% var airport=order_itineraries.shift(); %>
                            <%= airport %>
                                <%}%>
            </p>
            <p class="flight">
                <% if(flightroutes.length> 0) {%>
                    <% const flightroute=flightroutes.shift(); %>
                        <a href="/flightroutes/<%= flightroute._id %>">
                            <i class="fas fa-plane fa-3x"></i>
                            <span class="FlightDate">
                                <%= flightroute.date %>
                            </span>
                        </a>
                        <%}%>
            </p>
            <%}%>
    </div>
    <div class="mx-auto" id='map' style='width: 1000px; height: 550px;'></div>
    <div class="overlay">
        <div class="d-flex justify-content-center">
            <button id="FlightButton"> Simulate My Flight </button>
        </div>
    </div>




    <script>
        const flightroutesCopy = <% - JSON.stringify(flightroutesCopy) %>;
    </script>

    <script src="https://unpkg.com/@turf/turf@6/turf.min.js"></script>
    <script src="/showPageMap.js"></script>