<% layout('layouts/boilerplate') %>

<div class="row">
    <h1 class="text-center">Flight Search</div>
    <div class="col-6 offset-3">
        <form id="searchForm">
            <div class="mb-3">
                <label for="origin" class="form-label">Enter an origin: </label>
                <input class="form-control" id="origin" type="text" placeholder="City/Country Origin" name="origin">
            </div>
            <div class="mb-3">
                <label for="destination" class="form-label">Enter a destination</label>
                <input class="form-control" id="destination" type="text" placeholder="City/Country Destination" name="destination">
            </div>
            <div class="mb-3">
                <label for="outboundDate" class="form-label">Enter an outbound date</label>
                <input class="form-control" id="outboundDate" type="text" placeholder="Outbound Date" name="outboundDate">
            </div>
            <input class="btn btn-outline-primary" type="reset" value="Reset">
            <input class="btn btn-outline-primary" type="submit" value="Search">
            <!-- <button>Search</button> -->
        </form>
        
        <section id="container"></section>
    </div>

</div>



<script src="/skyscannerAPI.js"></script>
