<% layout('layouts/boilerplate') %>
<link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/thinline.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap" rel="stylesheet">
<style>
    .flight-engine {
        position: relative;
        justify-content: center;
        bottom: 25px;
        padding: 100px;
        z-index: 999;
    }
    .tab1.active {
        display: block
    }
    .tab1 {
        display: none
    }
    .tabing {
        float: left;
        width: 100%;
        background: rgba(86, 176, 214, 0.8);
        padding: 0 10px 10px 10px;
        color: #fff;
        height: 150px;
        border-radius: 0%;
    }
    .tabing ul {
        margin: 0px;
        padding: 0px;
        list-style: none;
        width: 100%;
        float: left;
    }
    .tabing ul li {
        float: left;
    }
    .tabing ul li a {
        display: block;
        padding: 5px;
        text-decoration: none;
        color: #fff;
        background: rgba(0, 130, 185, .9);
        margin: 0 10px 0 0;
        padding: 5px 10px 5px 10px;
        border-radius: 0px 0px 5px 5px;
        font-size: 16px;
        text-align: left;
    }
    .tabing ul li a.active {
        background: #c72522
    }
    .flight-tab {
        width: 100%;
        float: left;
        margin-top: 10px;
        padding: 15px
    }
    .flight-tab .textboxstyle {
        width: 100%;
        float: left;
        color: #191919;
        padding: 8px 10px 8px 35px;
        border: none;
        border-radius: 3px;
        background: #f5f5f5;
        font-size: 14px;
        line-height: 20px;
    }
    .persent-one {
        width: 30%;
        float: left;
        margin-right: 2%;
        position: relative;
        margin-bottom: 10px;
    }
    .persent-one i {
        position: absolute;
        left: 18px;
        top: 8px;
        color: #191919;
        font-size: 20px;
    }
    .persent-one.less-per {
        width: 20%;
        float: left;
        margin-right: 1%;
    }
    .persent-one.less-btn {
        width: 5%;
        float: left;
        margin-right: 1%;
    }
    .persent-one.less-btn .cst-btn {
        width: 85px;
        height: 85px;
        border-radius: 100%;
        position: relative;
        top: -32px;
    }

    .button5{
        display:inline-block;
        padding:0.46em 1.6em;
        border:0.1em solid #000000;
        margin:0 0.2em 0.2em 0;
        border-radius:0.12em;
        box-sizing: border-box;
        text-decoration:none;
        font-family:'Roboto',sans-serif;
        font-weight:300;
        color:#000000;
        text-shadow: 0 0.04em 0.04em rgba(0,0,0,0.35);
        background-color:#FFFFFF;
        text-align:center;
        transition: all 0.15s;
    }

    .button5:hover{
        text-shadow: 0 0 2em rgba(255,255,255,1);
        color:#000000;
        border-color:#8eb2e7;
    }

    .card{
        justify-content: center;
    }

    @media all and (max-width:30em){
    .button5{
        display: block;
        margin: 4rem auto;
     }
    }
    /* p { */
        /* font-family:'Roboto Condensed', sans-serif; */
    /* } */
</style>
<div class="flight-engine text-center">
    <div class="container">
        <div class="tabing">
           <ul>
              <li><a class="active" href="/flightroutes/new"><i class="fa fa-plane" aria-hidden="true"></i> Reset </a>
              </li>
           </ul>
           <div class="tab-content">
              <div id="1" class="tab1 active">
                <form id="searchForm" novalidate class="validated-form">
                    <div class="flight-tab row">
                        <div class="persent-one">
                            <i class="fas fa-binoculars" aria-hidden="true"></i>
                            <input type="text" name="origin" class="textboxstyle" id="origin" placeholder="From Airport (e.g. LAX-sky)">
                        </div>
                        <div class="persent-one">
                            <i class="fas fa-plane-arrival" aria-hidden="true"></i>
                            <input type="text" name="destination" class="textboxstyle" id="destination" placeholder="To Airport (e.g. SFO-sky)">
                        </div>
                        <div class="persent-one less-per">
                            <i class="fas fa-calendar-alt" aria-hidden="true"></i>
                            <% const today = new Date().toISOString().slice(0, 10) %> 
                            <input type="date" min="<%= today %>"   name="outboundDate" class="textboxstyle" id="from-date1" placeholder="Depart Date (e.g. 2021-06-30)">
                        </div>
                            <div class="persent-one less-btn">
                            <input type="submit" name="submit" value="Search" class="btn btn-info cst-btn" id="#searchForm">
                        </div>
                    </div>
                 </form>
              </div>
                 <!-- flight tab -->
              </div>
              <!-- tab 1 -->
           </div>
           </div>
           <!-- tab content -->
        </div>
        <!-- tabbing -->
        </div>
    </div>

  <div class="card-deck" style="justify-content: center"></div>


<script src="/skyscannerAPI.js"></script>


