<% layout('layouts/boilerplate') %>
    <style>
        h1 {
            margin-top: 5%;
            margin-bottom: 5%;
        }

        #SettingInput {
            margin: 3%;
        }

        #SettingButton {
            margin: 3%
        }
    </style>
    <h1> Edit Profile </h1>
    <form action="/setting?_method=PUT" method="POST" class="validated-form" novalidate>

        <div class="form-group" id="SettingInput">
            <label for="exampleFormControlInput1">Edit Email Address</label>
            <input type="email" name="user[email]" class="form-control" placeholder="Name@example.com"
                value="<%= email %>">
        </div>
        <div class="form-group" id="SettingInput">
            <label for="exampleFormControlInput1">Edit Name</label>
            <input type="UserName" name="user[UserName]" class="form-control" placeholder="Name" value="<%= name %>">
        </div>
        <div class="form-group" id="SettingInput">
            <label for="exampleFormControlInput1">Edit Departure</label>
            <input type="DepText" name="user[DepText]" class="form-control" placeholder="Airport"
                value="<%= departure %>">
        </div>
        <button type="submit" class="btn btn-primary" id="SettingButton">Submit</button>
    </form>